name: Terraform Workflow on Feature Branch

on:
  push:
    branches:
      - feature/*

jobs:
  fmt-validate:
    name: Format And validate
    runs-on: ubuntu-latest
    env:
      APP_AUTO_TFVARS: config.dev.tfvars
 
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@625cb76050397c6b3a1789261eb129f8f39a206b
        with:
          terraform_version: ${{ inputs.version }}
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      - name: Run terraform fmt check
        run: |
          terraform login ${{ secrets.TF_TOKEN }}
          terraform init
          terraform fmt -check -diff
          terraform validate

  terraform-plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    needs: [ fmt-validate]
    
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@625cb76050397c6b3a1789261eb129f8f39a206b
        with:
          terraform_version: ${{ inputs.version }}
          #cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}
      
      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
 
  terraform-test:
    name: Terraform Test
    runs-on: ubuntu-latest
    needs: [terraform-plan]
    steps:
      - run: echo "Pruebas unitarias sobre el codigo"